.header {
  width: 100%;
  background-color: var(--color-blue);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 220px;
  height: auto;
  display: block;
}

.cart-button {
  border: none;
  background: none;
  cursor: pointer;
}
