.shipping-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}

.shipping-option {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.shipping-logo {
  width: 90px;
  height: 45px;
  object-fit: contain;
}

.shipping-details {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
