.order-confirmation-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-container h1 {
  margin-bottom: 0.5rem;
}

.title-container h1:last-child {
  font-size: x-large;
  margin-top: 0;
}

.return-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .order-confirmation-container {
    gap: 1.5rem;
  }

  .title-container h1 {
    font-size: 1.75rem;
  }

  .title-container h1:last-child {
    font-size: 1.25rem;
  }
}
