.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container h1:last-child {
    font-size: x-large;
}

.Order-confirmation-container {
    display: flex;
    flex-direction: column;
}

.return-btn{
    align-self: center;
}