@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

:root {
  --color-blue: rgb(120 218 240 / 88%);
  --color-lavender: rgba(189, 111, 249, 0.46);
  --color-pink: rgba(253, 104, 203, 1);
  --color-green: rgba(120, 240, 166, 0.74);
  --color-light-pink: rgba(253, 104, 203, 0.78);
  --color-light-green: rgba(120, 240, 166, 0.31);
  --color-light-yellow: rgba(254, 255, 218, 1);
  --color-light-orange: rgba(240, 170, 120, 0.88);
  --color-black: rgba(0, 0, 0, 1);
  --color-off-white: rgba(250, 250, 250, 1);
}

body {
  margin: 0;
  background-color: var(--color-light-yellow);
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}
